/* Styles for 'you should drop here' notification and upload in-progress */
.dnd-multi-dropzone.drophere {
color: #000;
background: #efefef url('images/drophere.png') no-repeat center center;
text-align: center;
}

.dnd-multi-dropzone.uploading {
color: #000;
background: #efefef url('images/throbber.gif') no-repeat center center;
text-align: center;
}